streamlit
mysql-connector-python
sqlite-connector
pyrebase4
google-cloud-texttospeech
bark
torchaudio
nltk
diffusers
accelerate
opencv-python
imageio 
imageio[ffmpeg]
moviepy==1.0.3
requests
PyYAML
mediapipe
protobuf
imageio[pyav]

